/*Estrutura do site*/

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, "Trebuched MS", sans-serif;
    background: #fff url(../imagens/bg.png);
    margin: 15px;
}

#container {
    margin: 0 auto;
    min-width: 740px;
    max-width: 1180;
    background: #ede9cc url(../imagens/bg-container.png) top center repeat-y;

}

a {
    text-decoration: none;
}

/*formatacacao de textos*/

h2{
    color: #7d7640;
    font-size: 1.1em;
    padding: 5px 0px;
}

p {
    font-size: 1em;
    margin-bottom: 10px;
}