#topo {
    position: relative;
    background: #dbcd87;
    height: 15.4em;
    min-height: 250px;
}

a.reserva {
    text-transform: uppercase;
    background: #a29750;
    color: #fff5b0;
    padding: 5px 10px;
    float: right;
}

.depoimento {
    width: 226px;
    height: 164px;
    float: right;
}