#area-principal {    
    float: left;
    width: 50%;
    background: url(../../../imagens/bg-area-principal.png) top left repeat-x;
    padding: 15px 0;
}

.conteudo {
    margin: 0 auto;
    width: 90%;
    
}