#area-lateral {
    background: url(../../../imagens/bg-area-lateral.png) top left repeat-x;
    float: right;
    width: 50%;
    padding: 20px 0;
}

#beneficios li {
    padding: 8px;
    border-bottom: 1px solid #f3efcb;
    height: 6em;
}

#beneficios li a img {
    float: left;
    margin-right: 8px;
}

#beneficios li a p {
    color: #000;
    font-size: 0.8em;
}

#beneficios li a h3 {
    font-size: 1.1em;
    color: #615b2d;
    padding: 5px 0;
    background: url(../../../imagens/ornamento.png) center right no-repeat;

}

#beneficios li:hover {
    background: #f6f3d6;
    cursor: pointer;
}
